.donationBox{
  &__form {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }
  
    &-input{
      position: relative;
      flex-grow: 1;
      padding-right: 1em;
  
      input{
        height: 100%;
        padding-left: 1.8em;
      }
    }
    &-button{
      flex-shrink: 1;
      padding-top: 1em;
      text-align: center;

      @media only screen and (min-width: 600px) {
        padding-top: 0;
      }

    }
  }
  .inputFieldCurrencySymbol{
    position:absolute;
    left: .6em;
    line-height: 2.2em;
    font-size: 1.4em;
    @media only screen and (min-width: 600px) {
      line-height: 3em;
    }
  }
}

