.totalRaised{

  &__form {
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }
  }
  
  &__raisedSoFar{
    flex-grow: 1;
  }
  
  &__target{
    flex-grow:1;
  }

  .currency{
    font-size: 2em;
    font-weight: 400;
  }

}

