.charityDonation{
  max-width: 600px;
  margin: auto;
  border: 1px #dcdcdc solid;
  background-color: #fafafa;
  text-align: left;
  box-shadow: 0 4px 2px -2px #dcdcdc;

  &__body{
    padding: 2em;
  }

  &__title{
    font-weight: 500;
  }

  &__footer{
    border-top: 1px #dcdcdc solid;
    padding: 2em;
  }
}