.progressBar{
  width: 100%;
  height: 48px;
  margin: 2em 0;

  border: 1px solid #909d31;

  &__message{
    width: 100%;
    text-align: center;
    line-height: 2em;
    position: absolute;
    left: 0;
  }

  &__bar{
    height: 100%;
    background-color: #909d31;
    transition: width 1s ease-out;
  }
}